@import "tailwindcss";

@font-face {
  font-family: "PlaywriteNZGuides";
  src: url("/public/fonts/PlaywriteNZGuides-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}